<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.festivalawardtracker">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.student.StudentSummaryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.student.StudentEditActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.event.EventNewActivity"
            android:parentActivityName=".ui.event.EventActivity" />
        <activity
            android:name=".MainEmptyActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main2"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".SignInUpActivity" />
        <activity
            android:name=".ui.student.StudentNewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.festival.FestivalActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.event.EventsRatingsActivity"
            android:parentActivityName=".ui.event.EventActivity"/>
        <activity
            android:name=".ui.eventDescription.EventDescriptionsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ui.eventDescription.EventDescriptionsNewActivity"
            android:parentActivityName=".ui.eventDescription.EventDescriptionsActivity" />
        <activity
            android:name=".ui.event.EventActivity"
            android:parentActivityName=".ui.eventDescription.EventDescriptionsActivity" />
    </application>

</manifest>